<ion-header>
    <ion-toolbar>
      <ion-title>
      Bhilwara Clients
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card class="welcome-card">
      <!-- <ion-img src="assets/lnj-logo.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Our Clients</ion-card-title>
        <hr> 
      </ion-card-header>-->
      <ion-card-content>
          <ion-img src="assets/techM.jpeg"></ion-img>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-content>
          <ion-img src="assets/hp.jpg"></ion-img>
        </ion-card-content>
    </ion-card>


      <ion-card>
      <ion-card-content>
          <ion-img src="assets/oracle.jpg"></ion-img>
        </ion-card-content>
      </ion-card>

        <ion-card>
            <ion-card-content>
          <ion-img src="assets/infosys.jpg"></ion-img>
        </ion-card-content>
      </ion-card>

        <ion-card>
            <ion-card-content>
      <ion-img src="assets/hcl.jpg"></ion-img>
    </ion-card-content>
  </ion-card>

    <ion-card>
        <ion-card-content>
      <ion-img src="assets/ntt.jpg"></ion-img>
    </ion-card-content>
  </ion-card>


    
  </ion-content>