<ion-header>
  <ion-toolbar>
    <ion-title>
      About Bhilwara </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="assets/Aboutus.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle style="color:crimson">About Bhilwara</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li> Established in February 2000.</li>
        <li> Foundation laid for the IT group established for LNJ Bhilwara Group in 1995.</li>
        <li> ISO 9001:2000 Certified on September 5th 2002.</li>
        <li> Processes based on the guidelines of ISO 9001:2000 with CMM Level 5 Integration.</li>
        <li> Most employees are IBM/Sun/Microsoft Certified. </li>

      </ul>
    </ion-card-content>
  </ion-card>

</ion-content>