<ion-header>
  <ion-toolbar>
    <ion-title>
     Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="assets/rescontactbanner.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Welcome to Bhilwara</ion-card-subtitle>
      <ion-card-title style="color:crimson">Contact Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>

<p>Phone : </p><a>0987654321</a>
<p>Email : </p><a>bhilwara@gmail.com</a>
    </ion-card-content>
  </ion-card>
  
</ion-content>
