<ion-header>
  <ion-toolbar>
    <ion-title>      
      Feedback
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="assets/group_logo.jpg"></ion-img>
        <ion-card-header>
            <ion-card-subtitle style="color:crimson">Please give your feedback</ion-card-subtitle>
          </ion-card-header>
        <ion-card-content>
          

            <a target="_black" href="https://docs.google.com/forms/d/e/1FAIpQLSfnPAK3bA2tUHsAYYQxGGBj1FoxXfkPDEpyqeBHjN-5DR8clg/viewform">Feedback</a>      
        </ion-card-content>  
       </ion-card>

</ion-content>
